<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commons libraries for Data Science
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python
<li>SQL
<li>R
    <ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow
        <li>NumPy
            <li>SciPy
                <ol>

| Data Science Tools |
| ------------------ |
| R Studio           |
| Jupyter Notebooks  |
| Zeppelin Notebooks |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
X = (3*4)+5
print(X)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
X = 200/60
print(X)

3.3333333333333335

<h2>Author</h2>
Si Rou Lin